.container
  .page-header
      h1 Add a new Sensor
      
    .row
      .col-sm-4
        +panel-primary("Define the required parameters")
          form(role='form', action="/settings/save",method="post", style='max-width: 300px;')
            p
              | Define a description or identifier
            .form-group
              input.form-control(type='text', name="description", placeholder='Description or identifier', value='#{sensor !== undefined ? sensor.description : ""}')
            p
              | Define IP Address
            .form-group
              input.form-control(type='text', name="ip", placeholder='IP Address', value=(sensor !== undefined ? sensor.ip : ""))
            p
              | Define Port number
            .form-group
              input.form-control(type='text', name="port", placeholder='Port', value=(sensor !== undefined ? sensor.port : ""))
            p
              | Define the PIN number of the sensor in Arduino
            .form-group
              input.form-control(type='text', name="pin", placeholder='PIN number', value=(sensor !== undefined ? sensor.pin : ""))
            p
              | Define the mesure of the pin (Analog or Digital)
            .form-group
              input.form-control(type='text', name="mesure", placeholder='Analog or Digital', value=(sensor !== undefined ? sensor.mesure : ""))

            button.btn.btn-default(type='submit') Save
            &nbsp;
            a(href='/')
            button.btn.btn-primary(type="button") Cancel